/*desactive le scroll*/
body {
  overflow: hidden;
  cursor: none;
  margin:0;
  padding:0;
  background-color: rgb(73, 73, 73);
}

main{
  display:flex;
  justify-content: center;
  margin-top: 5%;
}

h1{
  text-align: center;
  color: white;
  font-size: 3em;
}

.buttons{
  display: flex;
  justify-content: center;

}

.button_game{
  width: 200px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(73, 73, 73);
  font-size: 1.5em;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
}